/*
p {
    /*Content - Width and Height*/

    width: 50%;
    

    /*Border*/
    border: 2px solid blue;


    /*Padding*/
/*padding: 10px;*/
padding-left: 40px;
    /*Margin = margin: Top value right value bottom balue left value
    Margin auto, center an element ie. 
    margin: 0 auto;
    margin: 50 px 20 px;

    margin: 100px;

}
*/


